<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>お金管理</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <style>
    /* Custom styles here */
  </style>
</head>
<body>

  <!-- 共通ヘッダ読み込み -->
  <div th:replace="header :: header"></div>


  <div class="container mt-5">
    <h2>お金の記録</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">金額</th>
          <th scope="col">登録日</th>
          <th scope="col">返済日</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <!-- 各貸し借りの記録を繰り返し表示 -->
        <tr th:each="info, iterStat : ${informationList}">
          <th scope="row" th:text="${iterStat.count}">1</th>
          <td th:text="${info.repaymentAmt} + '円'">1000円</td>
          <!-- 日付の表示形式を変更 -->
          <td th:text="${#dates.format(info.registerDt, 'yyyy/MM/dd')}">2024/03/25</td>
          <td th:text="${#dates.format(info.repaymentDt, 'yyyy/MM/dd')}">2024/03/25</td>
          <td>
            <form action="/changeStatus" method="GET">
              <input type="hidden" name="number" value="">
                <!-- ステータスに応じてボタンの表示を変更 -->
                <button type="button" class="btn btn-success btn-sm" th:if="${info.status}">返済済み</button>
                <button type="button" class="btn btn-warning btn-sm" th:unless="${info.status}" onclick="sendRowNumber(this)">未返済</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="total" style="font-size: 3.0em; text-align: right; margin-top: 100px;">
      <!-- 残り合計：50円 -->
      残り合計：<span th:text="${repaymentAmtTotal} + '円'">50円</span>
    </div>
  </div>

  <style>
    /* ナビゲーションバーのリンクにマウスを合わせたときのスタイル */
    .navbar-nav .nav-item .nav-link:hover {
        background-color: #fff !important; /* 背景色を白色に設定 */
        color: #000 !important; /* テキスト色を黒色に設定 */
    }
  </style>

<script>
  function sendRowNumber(button) {
    // ボタンが属している行を取得
    var row = button.closest('tr');
    // 行から「#」の数値を取得
    var rowNumber = row.querySelector('th').innerText;
    // フォームを取得
    var form = button.closest('form');
    // フォームに「#」の数値を設定
    form.querySelector('input[name="number"]').value = rowNumber;
    // フォームを送信
    form.submit();
  }
</script>


  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
