<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お金管理</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        /* Custom styles here */
    </style>
</head>
<body>
    
    <!-- 共通ヘッダ読み込み -->
    <div th:replace="header :: header"></div>
    
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">お金管理へようこそ！</h1>
        <p class="lead">このウェブアプリは、お金のやり取りを管理するための便利なツールです。</p>
        <hr class="my-4">
        <p>お金のやり取りを管理し、返済期限を見逃さないようにしましょう。</p>
        <a class="btn btn-primary btn-lg" href="/dashboard" role="button">始める</a>
    </div>
</div>

<style>
    /* ナビゲーションバーのリンクにマウスを合わせたときのスタイル */
    .navbar-nav .nav-item .nav-link:hover {
        background-color: #fff !important; /* 背景色を白色に設定 */
        color: #000 !important; /* テキスト色を黒色に設定 */
    }
</style>

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
