<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お金管理</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        /* Custom styles here */
    </style>
</head>
<body>

    <!-- 共通ヘッダ読み込み -->
    <div th:replace="header :: header"></div>

<div class="container mt-5">
    <h2>新しく追加する</h2>
    <form  th:action="@{/add}" th:object="${repaymentInformation}" method="get">
        <label for="repaymentAmt">金額</label>
        <input type="number" th:field="{repaymentAmt}" placeholder="金額を入力してください">

        <button>追加</button>
    </form>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
